@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Questrial&display=swap');

body{
    display: flex;
    background-image:url(img/background.png);
    padding-top: 100px;
    padding-left: 50px;
}

h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
}
  .card {
    /* Creates card. */
    border-radius: 20px;
    background-color: rgba(167, 157, 228, 0.5);
    font-family: 'Antic Slab', serif;
    font-size: 25px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  #astrocat {
    animation: floating 2s ease-in-out infinite;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
  }

  #third {
    width: 33%;
    margin: 20px;
  }