@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Questrial&display=swap');

/* timer code start */
body {
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  place-items: center;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

/*timer code end*/

body{
    display: flex;
    background-image:url(img/background.png);
    padding-top: 100px;
    padding-left: 50px;
}

h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
}
  .card {
    /* Creates card. */
    border-radius: 20px;
    background-color: rgba(167, 157, 228, 0.5);
    font-family: 'Antic Slab', serif;
    font-size: 25px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  #newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #757c80;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}

#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #3a0a4d;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

#cards{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #0a2ea4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

  #astrocat {
    animation: floating 2s ease-in-out infinite;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
  }

  #third {
    width: 33%;
    margin: 20px;
  }